<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <%= image_tag  @photo.picture.url %>
</p>
<h4>Comments</h4>
<% if @group.comments.nil? %>
	<em>No comments yet</em>
<% else %>
	<% @group.comments.each do |comment| %>
		<%%>
		<%= time_ago_in_words(comment.created_at)%> ago<br />
		<%= comment.user.name %> said:<br />
		<%= comment.body %><br /><br />
	<% end %>
<% end %>




<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
