<!DOCTYPE html>
<html>
<head>
  <title>Mafoto: Share Photos With Friends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<%= render :partial => "layouts/header" %>
	</div>
	<div class="container">
		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <h2>This is a web app for sharing photos</h2>
		<%= yield %>
	</div>

</body>
</html>
